*, *::before, *::after {
    padding: 0;
    margin: 0;
    outline: 0;
    
}


body {
    font-family: Monospace;
    font-size: 16px;
    padding: 0;
    margin: 0;
    background: #fff;
    height: 100%;
    width: 100%;
    
}

.header {
    height: 3.8rem;
    width: 100%;
    position: fixed;
    background: white;
    
}

#top-div {
    display: grid;
    grid-template-columns: 5fr 20fr 5fr;
    grid-column-gap: px;
}

#hide {
    display: none;
}

#zuri-talent {
    margin-top: 17.5px;
    margin-left: 20px;
}

#hire {
    border: 0;
    background: red;
    color: white;
    font-size: 17px;
    font-weight: 400;
   /* padding-top: 4px;
    padding-bottom: 4px;
    padding-left: 30px;
    padding-right: 30px;
    align-self: right;*/
    width: 150px;
    height: 40px;
    margin-right: 10px;
    margin-left: 32px;
    margin-top: 8px;
    border-bottom-right-radius: 15px;
}

#hire:hover {
    background: white;
    color: red;
    border: 1px solid red;
}

.first {
    align-content: center;
    background: white;
    margin-top: ;
    width: 100%;
    height: auto;
}

#vet {
    font-size: 33px;
    line-height: 40px;
    display: block;
    text-align: center;
    font-family: Georgia;
    color: black;
    padding-top: 120px;
    padding-left: 38px;
    padding-right: 38px;
   
}


#talent a {
    text-decoration: none;
    color: red;
}

#note1 {
    text-align: center;
    line-height: 25px;
    padding: 24px;
    color: grey;
    font-weight: 250;
    font-size: 18px;
    font-family: Georgia;
}

#hire1 {
    align-self: center;
    color: white;
    background: red;
    border: 0;
    padding-left: 48px;
    padding-right: 48px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    font-size: 20px;
    margin-left: 15px;
    line-height: 22px;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: 400;
}

#join {
    align-self: center;
    margin: 0;
    color: white;
    line-height: 25px;
    font-size: 20px;
    border: 0;
    line-height: 22px;
    padding-left: 35px;
    padding-right: 35px;
    padding-top: 8px;
    padding-bottom: 8px;
    text-align: center;
    background: grey;
    border-bottom-right-radius: 10px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    font-weight: 400;
}

#button1 {
    display: none;
}

.second {
    align-items: center;
    width: 100%;
    height: auto;
    margin-top: 50px;
    margin-bottom: 80px;
}

#laughing-man {
    width: 97%;
    height: 60%;
    margin-left: 14px;
    
}

.third {
    width: 100%;
    height: auto;
    margin-top: 30px;
    background: url("https://talent.zuri.team/static/media/bgsection2.063bd869082548bafa74.png");
    align-content: left;
    margin-bottom: 40px;
}

#note2 {
    text-align: left;
    font-size: 28px;
    padding-right: 12px;
    color: black;
    font-family: Georgia;
    margin-left: 25px;
    margin-top: 140px;
    margin-bottom: 8px;
}

#u-note {
    text-align: left;
    font-size: 18px;
    line-height: 35px;
    margin-left: 25px;
    margin-bottom: 7px;
    font-weight: 650;
    font-family: Georgia;
    padding-right: 14px;
}

#uu-note {
    text-align: left;
    font-size: 18px;
    margin-left: 25px;
    margin-bottom: ;
    color: grey;
    font-family: Georgia;
    padding-right: 8px;
    padding-bottom: 25px;
}

#country {
    display: block;
    margin-left: 22px;
}

#country img {
    margin: 5px;
    background: white;
    padding: 5px;
    padding-bottom: 7px;
    border-radius: 5px;
    width: 8%;
    height: 4%;
}

#round {
    width: 90%;
    height: 50%;
    margin-left: 18px;
    margin-bottom: 30px;
}

.fourth {
    width: 100%;
    height: auto;
    margin-bottom: 20px;
}

#skill {
    text-align: left;
    display: block;
    font-family: Georgia;
    font-size: 30px;
    margin-left: 25px;
    padding-right: 25px;
    padding-top: 70px;
    padding-bottom: 10px;
}

#combine {
    display: grid;
    margin: 25px;
    text-align: center;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 80px 80px;
    grid-gap: 12px;
    width: 85%;
    grid-column-gap: 19px;
}

#combine div {
    background: white;
    padding: 16px;
    border-radius: 5px;
    border: 0;
    font-family: Sans-Serif;
    line-height: 30px;
    color: grey;
    padding-top: 6px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#skill1 {
    text-align: left;
    display: block;
    font-family: Georgia;
    font-size: 30px;
    margin-left: 25px;
    padding-right: 25px;
    padding-top: 30px;
    padding-bottom: 10px;
}

#combine1 {
    display: grid;
    margin: 25px;
    text-align: center;
    grid-template-columns: 3fr 3fr;
    grid-template-rows: 40px 40px 80px;
    grid-gap: 12px;
    width: 85%;
    grid-column-gap: 19px;
    margin-bottom: 10px;
}

#combine1 div {
    background: white;
    padding: 16px;
    border-radius: 5px;
    border: 0;
    font-family: Sans-Serif;
    line-height: 30px;
    color: grey;
    padding-top: 3px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#skills1 {
    line-height: 60px;
    padding-top: 18px;
}

#skills-RA {
    padding: 2px;
    line-height: 0px;
    font-size: 14px;
}

#combine1 div#google{
    line-height: 70px;
}

.fifth {
    width: 100%;
    height: auto;
    background: #FFF2D2;
}

.fifth h4#our-talent{
    text-align: center;
    display: block;
    font-family: Georgia;
    font-size: 28px;
    padding-top: 100px;
    padding-bottom: 40px;
}


div#tal-div {
    width: 88%;
    margin-left: 25.5px;
    color: black;
    height: auto;
    text-align: center;
    background: white;
    margin-bottom: 30px;
}

div#tal-div:hover {
    background: black;
    color: white;
}

div#tal-div-last {
    display: none;
}

#tal-div img {
    align-self: center;
    margin: 50px;
    margin-bottom: 30px;
}

#tal-div p {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    line-height: 25px;
    font-family: Georgia;
    color: grey;
    font-size: 14px;
    padding-bottom: 48px;
}

div#tal-div-1 {
    width: 88%;
    margin-left: 25.5px;
    color: black;
    height: auto;
    text-align: center;
    background: white;
    margin-bottom: 30px;
}

div#tal-div-1:hover {
    background: black;
    color: white;
}

#tal-div-1 img {
    align-self: center;
    margin: 50px;
    margin-bottom: 30px;
}

#tal-div-1 p {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    line-height: 25px;
    font-family: Georgia;
    color: grey;
    font-size: 14px;
    padding-bottom: 48px;
}


.footer {
    width: 100.8%;
    height: 60vh;
    background: black;
    align-content: center;
    align-items: center;
    margin-bottom: 0px;
    
}

#zuri-talent-down {
    align-self: center;
    margin-top: 100px;
    margin-bottom: 20px;
    margin-left: 100px;
    width: 45%;
}

.center {
    justify-content: center;
    align-content: center;
    display: flex;
    height: 3rem;
    margin-bottom: 20px;
}

.center a {
    text-decoration: none;
    text-align: center;
    font-size: 25px;
    padding: 8px;
    color: black;
}

.fa-facebook {
    background: grey;
    padding-top: 8px;
    padding-left: 8px;
    padding-right: 5px;
    padding-bottom: 0px;
}

.fa-linkedin {
    background: grey;
    padding: 8px;
    padding-bottom: 0;
}

.fa-twitter {
    background: grey;
    padding: 8px;
    padding-bottom: 0;
}

.fa-youtube {
    background: grey;
    padding: 8px;
    padding-bottom: 0;
}

.footer p {
    text-align: center;
}



#mail {
    margin-top: 20px;
}

#mail a {
    color: white;
    text-decoration: none;
    font-size: 18px;
    text-align: center;
    font-family: Georgia;
}

hr {
    width: 90%;
    color: gray;
    height: 0.0005%;
    margin: 20px;
    text-align: center;
    margin-bottom: 30px;
}

#copy {
    font-size: 18px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: Georgia;
    text-align: center;
    color: white;
    padding-bottom: 30px;
}


@media screen and (min-width: 900px){
.header {
    height: 6rem;
    width: 100%;
} 

#zuri-talent {
    margin-top: 35px;
    margin-left: 120px;
}

.hire {
    margin-right: 70px;
}

#hire {
    margin-top: 28px;
    margin-left: 5px;
}

#top-div {
    display: grid;
    grid-template-columns: 6fr 12fr 3fr;
    grid-column-gap: 10px;
}

#hide {
    display: block;
    margin-left: 30px;
}

#top-nav {
    margin-top: 35px;
}

#top-nav ul {
    display: inline;
    float: right;
}

#top-nav ul li {
    display: inline-block;
}

#top-nav ul li a {
    text-decoration: none;
    color: black;
    padding: 18px;
    font-size: 18px;
    font-family: Georgia;
}

a.active {
    border-bottom: 1.5px solid red;
}

#note1 {
    padding-left: 160px;
    padding-right: 160px;
    font-size: 10px;
}

#vet {
    padding-top: 150px;
    padding-left: 40px;
    padding-right: 40px;
}

#button1 {
    text-align: center;
    align-content: center;
    align-items: center;
    justify-content: center;
    display: block;
}

#button {
    display: none;
}



#hire11 {
    align-self: center;
    color: white;
    background: red;
    border: 0;
    padding-left: 55px;
    padding-right: 55px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    font-size: 20px;
    margin: 10px;
    line-height: 22px;
    border-bottom-right-radius: 10px;
    
    font-weight: 380;
}

#join1 {
    align-self: center;
    margin: 10px;
    color: white;
    line-height: 25px;
    font-size: 20px;
    border: 0;
    line-height: 22px;
    padding-left: 70px;
    padding-right: 70px;
    padding-top: 10px;
    padding-bottom: 10px;
    text-align: center;
    background: grey;
    border-bottom-right-radius: 10px;
    font-weight: 380;
}

#laughing-man {
    align-self: center;
    width: 80%;
    height: 45%;
    margin-left: 130px;
}

#middle {
    display: grid;
    grid-template-columns: 55% 45%;
    grid-column-gap: ;
    margin: 20px;
    
}

#note2 {
    margin-top: 20px;
}

.noter {
    padding-right: 5px;
}

#note2 {
    font-size: 14px;
    padding-right: 0px;
}

#u-note {
    font-size: 12px;
    padding-right: 6px;
}

#uu-note {
    font-size: 12px;
    padding-right: 6px;
}

#round {
    height: 75%;
    margin-left: 0px;
}

#country img {
    margin: 3px;
    background: white;
    padding: 7px;
    padding-bottom: px;
    border-radius: 5px;
    width: 45px;
    height: 50px;
    
}

#skill {
    font-size: 16px;
    padding-right: 500px;
    margin-left: 65px;
    
}

#combine {
    display: grid;
    grid-template-columns: 9fr 10fr 9fr 10fr;
    grid-column-gap: 20px;
    margin-left: 65px;
    
}

#combine div {
    line-height: 0px;
    padding-top: 25px;
    padding-bottom: px;
    padding-right: 6px;
    padding-left: 6px;
    font-size: 20px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
    height: 25px;
}
#skills {
    font-size: 20px;
    line-height: 0px;
}

#skill1 {
    font-size: 16px;
    margin-left: 65px;
}

#combine1 {
    display: grid;
    grid-template-columns: 6fr 6fr 18fr 7fr 6fr 20fr;
    grid-column-gap: 18px;
    margin-left: 65px;
}


#combine1 div {
    padding-left: 6px;
    padding-right: 6px;
    padding-top: 20px;
    font-size: 20px;
    height: 28px;
    box-shadow: rgba(100, 100, 111, 0.2) 0px 7px 29px 0px;
}

#combine1 div#google {
    line-height: 1px;
    padding-top: 36px;
    height: 14px;
}

.fifth h4#our-talent{
    font-size: 17px;
    padding-top: 100px;
    padding-bottom: 40px;
}

.fifth div#tal-div {
    color: black;
    text-align: center;
    background: white;
    margin-bottom: 15px;
    margin-left: 0px;
}

.fifth div#tal-div:hover {
    background: black;
    color: white;
    
}


.grider {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 50% 50%;
    grid-gap: 0px;
    width: auto;
    margin-left: 150px;
}

.fifth div#tal-div-last {
    width: 72%;
    margin-left: 150px;
    color: black;
    height: auto;
    text-align: center;
    background: white;
    margin-bottom: 30px;
    display: block;
}

.fifth div#tal-div-1 {
    display: none;
}

.fifth div#tal-div-last:hover {
    background: black;
    color: white;
}

.fifth div#tal-div-last img {
    align-self: center;
    margin: 50px;
    margin-bottom: 30px;
}

.fifth div#tal-div-last p {
    padding-left: 25px;
    padding-right: 25px;
    text-align: center;
    line-height: 25px;
    font-family: Georgia;
    color: grey;
    font-size: 14px;
    padding-bottom: 48px;
}

.footer hr {
    display: none;
}

.footer {
    height: 12vh;
    
}

#zuri-talent-down {
    align-self: left;
    margin-top: 60px;
    margin-bottom: ;
    margin-left: 85px;
    width: 20%;
}

.center {
    justify-content: right;
    align-content: right;
    float: right;
    display: flex;
    height: 3rem;
    margin-bottom: 20px;
    margin-right: 35px;
    margin-top: 60px;
}

.footer p#mail {
    text-align: right;
    margin-top: 15px;
    margin-left: 10%;
}

.footer p#mail a {
    text-align: ;
    font-size: 20px;
    padding-right: 24px;
    padding-top: 30px;
    padding-left: 500px;
}

#copy {
    text-align: left;
    font-size: 20px;
    padding-left: 30px;
    padding-top: 5px;
}

}